#pabaiga {

    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgb(0, 0, 0) 20%);
    color: #ffffffb3;
    font-weight: 400;



    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 72px 48px;
    }

    .questions {
        height: 33px;
    }

    .questions a {
        text-decoration: none;
        color: #ffffffb3;
    }

    .links ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .links ul li {
        list-style-type: none;
        margin: 16px 0 5px 12px;
        width: 250px;
    }

}