body,
body * {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bg-content {
	background-color: rgb(242, 242, 242);
}

.active {
    display: inline-block;
}

.delete {
    display: none;
}